{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/script/components",
          "constants": "./src/script/constants",
          "features": "./src/script/features",
          "pages": "./src/script/pages",
          "services": "./src/script/services"
        }
      }
    ]
  ]
}