$color-map: (
 site-green-darken: #0C261C,
 site-green-primary: #15573F,
 site-green-secondary: #75BC97,
 site-grey-primary:  #6E6E6E,
 site-grey-secondary:  #848484,
 site-grey-tertiary:  #A8A8A8,
 site-white-primary: #FFFFFF,
 site-white-secondary: #F2F2F2
);
